* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.search {
  margin: 1.5rem 0;
}
.intro {
  background-image: url(./image/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.texts {
  font-size: 1.5rem;
}
.inputs {
  background: white;
  width: 80%;
  border-radius: 15px;
  display: flex;
}
.inputs input {
  flex: 1;
  background: none;
  border: none;
  width: 39.35rem;
  padding: 0.6rem;
  border-radius: 15px;
  font-size: 1.2rem;
  outline: none;
}
.inputs button {
  border: none;
  padding: 0.72rem;
  border-radius: 15px;
  background-image: linear-gradient(100deg, #30cfd0 0%, #b178f7 5%);
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  position: static;
  right: 0;
  cursor: pointer;
  outline: none;
}
button:hover {
  opacity: 0.8;
}
nav {
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-image: linear-gradient(-80deg, #30cfd0 0%, #330867 50%);
  color: white;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.nav-links li {
  margin: 0 1rem;
}
.links {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  min-width: 10rem;
  z-index: 1;
  border-radius: 10px;
  cursor: pointer;
}
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  list-style: none;
  display: block;
}
.dropdown-content li:hover {
  background-color: #ddd;
}
.links:hover {
  text-decoration: underline;
}
.discover,
.trending {
  display: flex;
  flex-direction: column;
}
.discover_contents,
.trending_content {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  overflow-y: hidden;
}
.movies_discover,
.trend_items {
  margin: 0.6rem;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.movies_discover:hover,
.trend_items:hover {
  transform: perspective(10rem) translateZ(0.5rem);
}
.movies_discover img,
.trend_items img {
  object-fit: contain;
  border-radius: 8px;
}
.movies_discover p,
.trend_items p {
  font-size: 0.7rem;
}
.discoverheader,
.trendingHeader {
  padding: 1rem;
  font-size: 1rem;
}
.movielink {
  text-decoration: none;
  color: black;
}
.movie_item {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.719));
  background-size: cover;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.movie_image {
  margin: 1.6rem 2rem;
}
.movie_image img {
  border-radius: 10px;
}
.title {
  font-size: 1rem;
}
.top_details {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.top_details p {
  margin-right: 0.6rem;
}
.top_genre {
  display: flex;
}
.search_header {
  color: gray;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.search_link {
  color: black;
  text-decoration: none;
}
.search_items {
  display: flex;
}
.searches {
  background-color: #ffffff;
  margin: 1rem;
  border-radius: 10px;
}
.image img {
  object-fit: contain;
  height: 100%;
  border-radius: 10px;
}
.desc {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.title {
  margin-bottom: 1rem;
}
.title p {
  color: grey;
  font-style: italic;
}
.ratings {
  margin-bottom: 0.5rem;
}
.ratings i {
  color: #ffff00;
  letter-spacing: 0.7rem;
}
.ratings p {
  font-size: 2rem;
}
.tagline {
  font-weight: 100;
  font-style: italic;
  margin-bottom: 1rem;
}
.videos {
  background-color: black;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  align-items: center;
}
.trailer {
  margin: 2rem;
}
.trailer iframe {
  border: none;
  /* height: 35rem;
  width: 70rem; */
}
.video_header {
  padding: 0.2rem 1rem;
}
.trailer:hover {
  transform: perspective(10rem) translateZ(0.2rem);
}
.casts,
.recoms {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-y: hidden;
  margin: 1rem;
  padding: 0.5rem;
}
.cast_header,
.recoms_header {
  margin-bottom: 1rem;
}
.cast_each,
.recom_each {
  display: flex;
  justify-content: space-between;
}
.cast,
.recom {
  margin: 0.5rem;
  border-radius: 10px;
  padding-bottom: 3rem;
}
.cast img,
.recom img {
  border-radius: 10px;
}
.cast h3,
.recom_details h3 {
  color: #181616;
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0;
}
.cast p,
.recom_details p {
  color: #534d4d;
  padding: 0 0.5rem;
}
.recom {
  padding-bottom: 0;
}
.rating i {
  color: #ffff00;
}
.recom_details p {
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}
.popular_movies {
  display: grid;
  grid-template-columns: repeat(6, auto);
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  background-color: #e2dcd8;
  border: none;
  cursor: pointer;
  padding: 1rem;
  margin: 0.5rem;
}
/* footer component */
.footer {
  text-align: center;
  font-size: 0.7rem;
  color: #ffff;
  background-color: #000;
  padding: 0.5rem;
  position: static;
  bottom: 0;
}
.footer a {
  color: #ffff;
  cursor: pointer;
  text-decoration: none;
}
.footer a:hover {
  color: rgb(255, 205, 97);
}
.footer .foot {
  color: #ffff;
  font-size: 1.3rem;
}
.footer .footer-links a {
  margin: 0.3rem 0.5rem;
}
.footer .foot:hover {
  color: #55acee;
}
/* download */
.dlinks {
  color: #ffff;
  font-size: 1.2rem;
}
.dlinks:hover {
  color: #181616;
}

/* responsiveness */
@media only screen and (max-width: 600px) {
  .texts {
    font-size: 1rem;
  }
  .inputs input {
    width: 14.35rem;
    font-size: 1rem;
  }
  .movie_item {
    display: block;
  }
  .movie_image {
    margin: 1rem 1rem;
  }
  .movie_image img {
    object-fit: fill;
  }
  .title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .top_details {
    margin-bottom: 0.9rem;
  }
  .trailer iframe {
    border: none;
    height: 18rem;
    width: 21rem;
  }
  .trailer {
    margin: 0.9rem;
  }
  .videos {
    background-color: rgb(175, 162, 162);
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    align-items: center;
  }
  .popular_movies {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .popular_movies img {
    width: 150px;
    object-fit: contain;
  }
}
